.credential_form {
    display: block;
    margin: auto;
    width: 50%;
}

.credential_form label {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 10px;
    margin: 2rem 0;
    width: 100%;
}

.credential_form input {
    padding: .7rem 1rem;
    border-radius: 15px;
    font-size: medium;
    font-weight: 500;
    width: 100%;
}

.password_field {
    display: flex;
    width: 100%;
    gap: .5rem;
    align-items: center;
}

.password_actions {
    width: 10%;
    display: inline-flex;
    gap: 2px;
}

.password_actions button {
    padding: .5rem 1rem;
}

/* .form_actions {
    display: inline-flex;
    gap: .6rem;
    margin: 1rem 0;
} */

.validation_errors {
    margin-block-end: 1rem;
    text-align: start;
}

.validation_errors p {
    color: brown;
    font-size: 14px;
    margin-block-start: 1px;
    margin-block-end: 1px;
}

@media (max-width: 425px) {
    .credential_form {
        width: 80%;
    }
    .credential_form label {
        margin: 1rem 0;
    }
    .credential_form input {
        padding: .6rem 1rem;
        font-size: 12px;
        font-weight: 500;
    }
    .password_field {
        width: 90%;
    }
}