header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 1rem 2rem;
}
  
.logo {
  width: 30%;
}

.logo img {
  width: 100%;
}

.main_menu {
  display: flex;
  gap: 1rem;
}

.menu_item {
  display: flex;
  align-items: center;
  gap: 3px;
  font-size: 16px;
  background-color: #133d6452;
  border-radius: 20px;
  padding: .4rem 1.5rem;
  transition: all 0.4s;
  text-decoration: none;
}

.menu_item:hover:not(.selected) {
  cursor: pointer;
  padding-right: 35px;
  background-color: #0d5c707e;
  border: transparent;
}

.menu_item.selected {
  border: transparent;
  background-color: #0d5c707e;
}