header {
  display: flex;
  position: sticky;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 1rem 2rem;
  background-color: #232d3f82;
}
  
.logo {
  width: 30%;
}

.logo img {
  width: 100%;
}

.main_menu {
  display: flex;
  gap: 1rem;
}

.menu_item {
  display: flex;
  align-items: center;
  gap: 3px;
  font-size: 16px;
  background-color: #133d6452;
  border-radius: 20px;
  padding: .4rem 1.5rem;
  transition: all 0.4s;
  text-decoration: none;
}

.menu_item:hover:not(.selected) {
  cursor: pointer;
  padding-right: 35px;
  background-color: #0d5c707e;
  border: transparent;
}

.menu_item.selected {
  border: transparent;
  background-color: #0d5c707e;
}

@media (max-width: 768px) {
  .logo img {
    width: 240px;
  }
  .main_menu {
    gap: .7rem;
  }
  .menu_item {
    font-size: 12px;
    padding: .4rem 1rem;
  }
}

@media (max-width: 425px) {
  header {
    flex-direction: column;
    gap: .2rem;
    padding: .8rem;
  }
  .logo img {
    width: 180px;
  }
  .main_menu {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
  }
  .menu_item {
    padding: .5rem 1rem;
  }
}

@media (max-width: 375px) {
  .menu_item {
    padding: .3rem;
    font-size: 10px;
  }
}


