ul.vault-list {
    list-style-type: none;
}

.vault-header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.vault-header_details {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.vault-header_actions {
    display: flex;
    gap: 10px;
}

.vault-header_actions button {
    display: inline-flex;
    align-items: center;
    width: fit-content;
    font-size: 14px;
    gap: 5px;
    padding: 10px 20px;
}

.vault-items {
    width: 100%;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    grid-gap: 15px;
}

@media only screen and (max-width: 1300px) {
    .vault-items {
        grid-template-columns: repeat(2, minmax(200px, 1fr));
        grid-gap: 20px
    }
}

@media only screen and (max-width: 815px) {
    .vault-items {
        grid-template-columns: repeat(1, minmax(200px, 1fr));
    }
}

article.item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: 140px;
    justify-content: space-between;
    background-color: #00000031;
    padding: 1.5rem;
    border-radius: 20px;
}

.item_header {
    display: flex;
    align-items: baseline;
    width: 100%;
    height: fit-content;
    justify-content: space-between;
    margin-bottom: 20px;
}

.item_header-info {
    display: flex;
    width: 70%;
    flex-direction: column;
    align-items: baseline;
    text-align: start;
}

.item_header-info span {
    font-style: italic;
    font-size: 14px;
}

.item_header-actions {
    display: inline-flex;
    gap: 5px;
    align-items: baseline;
}

.item_header button {
    display: inline-flex;
    align-items: center;
    width: fit-content;
    height: fit-content;
    font-size: 14px;
    padding: 10px;
}

.item_action {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}

.item_action input {
    min-width: 65%;
    padding: 10px;
}

.item_action button {
    padding: .1rem;
}

.none_vaults h3 {
    margin-block-end: 1.5rem;
}

.loader {
    margin: auto;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 32px 0 #fff, -32px 0 #fff;
    animation: flash 0.5s ease-out infinite alternate;
}

@keyframes flash {
    0% {
        background-color: #FFF2;
        box-shadow: 32px 0 #FFF2, -32px 0 #FFF;
    }

    50% {
        background-color: #FFF;
        box-shadow: 32px 0 #FFF2, -32px 0 #FFF2;
    }

    100% {
        background-color: #FFF2;
        box-shadow: 32px 0 #FFF, -32px 0 #FFF2;
    }
}