footer {
    width: fit-content;
    margin: 2rem;
    background-color: #232d3f9e;
    padding: 1rem 2rem;
    border-radius: 10px;
    transition: all 0.4s;
}

footer:hover {
    cursor: pointer;
    padding-right: 50px;
    background-color: #0d5c707e;
    border: solid 1.5px #232d3f9e;
}

footer a {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: .6rem;
    font-size: 14px;
}