body {
  background-image: url(assets/background.jpg);
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Poppins', sans-serif;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 2rem;
  background-color: #232d3f82;
  border-radius: 20px;
}

main {
  min-width: 70%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

input[type=text], input[type=password] {
  background-color: #0d5c70;
  border: 1px solid transparent;
  border-radius: 15px;
  color: white;
}

button {
  padding: .8rem 2rem;
  font-size: medium;
  color: whitesmoke;
  background-color: #133d64;
  border: none;
  border-radius: 20px;
}

button:hover {
  cursor: pointer;
  background-color: #1d4469;
}

a {
  color: white;
}