body {
  background-image: url(assets/background.jpg);
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Poppins', sans-serif;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 2rem;
  border-radius: 20px;
}

main {
  background-color: #232d3f82;
  min-width: 70%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.logo {
  margin: auto;
  width: 350px;
}

@media (max-width: 425px) {
  #root {
    padding: 1rem;
    gap: 1rem;
  }

  main {
      padding: 1rem;
  }

  .logo {
    width: 100%;
  }
}

input[type=text], input[type=password] {
  background-color: #0d5c70;
  border: 1px solid transparent;
  border-radius: 15px;
  color: white;
}

button {
  padding: .8rem 2rem;
  font-size: medium;
  color: whitesmoke;
  background-color: #133d64;
  border: none;
  border-radius: 20px;
}

button:hover {
  cursor: pointer;
  background-color: #1d4469;
}

button:disabled {
  background-color: #415262;
}

button:disabled:hover {
  cursor: not-allowed;
}

a {
  color: white;
}

h2,h3 {
  margin-block-end: .5rem;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltip_text {
  visibility: hidden;
  width: max-content;
  background-color: #2f70ad;
  font-size: 14px;
  color: #fff;
  text-align: center;
  padding: 5px 10px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  /*to change direction*/
  top: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: all ease 0.4s;
}

.tooltip .tooltip_text::after {
  content: "";
  position: absolute;
  /*to change direction*/
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 7px;
  border-style: solid;
  /*to change direction*/
  border-color: transparent transparent #2f70ad transparent;
}

.tooltip:hover .tooltip_text {
  visibility: visible;
  opacity: 1;
}

.toogle {
  background-color: #2f70ad;
}

.toogle:hover {
  background-color: #2f70ad;
}
