.login_form {
    padding: 2rem;
    border: 1.5px solid #497db5;
    border-radius: 15px;
    background-color: #0000003c;
    display: flex;
    flex-direction: column;
    min-width: 460px;
    min-height: 400px;
}

.login_form__input, 
.login_form__submit {
    padding: .6rem;
}

.login_form__input input {
    padding: 0.5rem 0.5rem;
    min-width: 80%;
    border: 1px solid #ffffff73;
    border-radius: 10px;
}

.login_form__submit input {
    background-color: #497db5;
    border-color: transparent;
    border-radius: 5px;
    padding: .5rem 1rem;
    cursor: pointer;
}

.login_form__submit input:disabled {
    cursor: not-allowed;
}

.login_switch {
    margin-top: 2rem;
    font-size: small;
}

.login_switch a {
    cursor: pointer;
}

.invalid_input {
    border-color: #f33333 !important;
}

.login_form__input .validation_error {
    color: #f33333;
    font-size: small;
    text-align: left;
    padding: .6rem 2rem;
}